<!-- <h1 class="px-4 py-2 text-red-500 text-3xl">{{title}}</h1 -->

  <!-- <h1  class="px-4 py-2 text-red-500 text-3xl">{{title}}</h1>
<ul>
  <li *ngFor="let movie of movies" class="">{{movie.name}}</li>
</ul> -->

<div class="panel">
  <div class="panel primary">
    {{title}}
  </div>
  <div>
     <div class="overflow-x-auto">
      <table class=" border-collapse border border-gray-300">
        <thead>
           <tr>
               <th class="border border-gray-300 px-4 py-2 text-left">Title</th>
               <th class="border border-gray-300 px-4 py-2 text-left">Director</th>
               <th class="border border-gray-300 px-4 py-2 text-left">Cast</th>
               <th class="border border-gray-300 px-4 py-2 text-left">Release Date</th>
           </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td class="border border-gray-300 px-4 py-2">{{movie.title}}</td>
                <td class="border border-gray-300 px-4 py-2">{{movie.director}}</td>
                <td class="border border-gray-300 px-4 py-2">{{movie.cast}}</td>
                <td class="border border-gray-300 px-4 py-2">{{movie.releaseDate}}</td>
            </tr>
        </tbody>
      </table>
     </div>
  </div>
</div>

